<div class="analysis">
  <h1>This is your analysis!!!!</h1>
  {{#each solutions}}
    {{this}} <br>
  {{/each}}


   <!-- <img src="./images/sallam.png" alt="This is Sallam1 -_-">
   <img src="./images/upload_a95d0542c5a8e2cb9610a5deb450d9a9.png" alt="This is Sallam2 -_-"> -->

   <p>this is the path {{path2}}</p>
      <img src="{{path2}}" alt="Not Found" />
      <img src="{{path3}}" alt="Not Found" />
      <img src="{{path4}}" alt="Not Found" />
      <img src="{{path5}}" alt="Not Found" />
      <img src="{{path6}}" alt="Not Found" />
 </div>
